html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
}
header {
    background-color: #1ABBF0;
    transform: skew(5deg);
}
h1 {
    color: white;
    margin: 0;
}
button {
    font-size: 1.5em;
    color: #000;
    background-color: #ff0;
    border: none;
    padding: 0 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    transform: skew(-20deg);
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    box-shadow: 10px 5px 0px rgba(0, 0, 0, 0.5);
}
button:hover {
    background-color: white;
    color: black;
}
footer {
    position: absolute;
    bottom: 0;
    width: 95%;
}

/* Coped from github */

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;

    line-height: 100px;
    font-size: 60px;
}